<h1>Train Info</h1>

<p>Here are the details for your train:</p>

<div class="offset4">
	<div class="row dashboard">
		<div class="span4">
			<h2>Details</h2>
			<p><strong>Train Number:</strong> <%= @train_num %></p>
			<p><strong>Train Date:</strong> <%= @train_date_reversed %></p>
		</div>
		<div class="span4">
			<h2>Destination</h2>
			<p><%= @final_destn %> is <strong><%= @distance_to_destn %> km</strong> away</p>
		</div>
	</div>

	<div class="row dashboard">
		<div class="span4">
			<h2>Prev Stn</h2>
			<p>You just crossed <strong><%= @prev_stn %></strong></p>
		</div>
		<div class="span4">
			<h2>Next Stn.</h2>
			<p>The next station is <strong><%= @next_stn %></strong> (<%= @stations_hash[@next_stn.strip] %>)</p>
			<p>The weather forecast there is: <%= @weather %></p>
		</div>
	</div>
</div>